body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.bar {
	height: 100%;
	width: 20%;
	position: fixed;
	background-color: maroon;
	z-index: 1;
	text-align: center;
}

.logo {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	top: 5px;
	color: white;
}

.content-box {
	width: 80%;
	height: 100%;
	right: 0;
	position: absolute;
	background-color: lightslategray;
}

.content {
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	background-color: darkslategray;
	height: 86%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 1%;
	position: relative;
}

.menu {
	display: inline;
	margin: 0 auto;
}

h1 {
	font-family: georgia;
	color: white;
}

h2 {
	font-family: georgia;
	color: black;
	text-align: center;
	font-size: 400%;
}

h1 a {
	font-family: georgia;
	color: white;
	text-decoration: none;
	font-size: 48px;
}

h3 a {
	font-family: georgia;
	color: white;
	text-decoration: none;
	font-size: 32px;
}

p {
	font-family: georgia;

}

p a {
	text-decoration: none;
}

.writing {
	color: white;
	font-size: 24px;
	width: 72%;
	position: relative;
	float: left;
}

.writing  a {
	color: lightslategray;
}

.writing-contact {
	color: white;
	font-size: 24px;
	width: 100%;
	align-text: center;
}

.writing-contact  a {
	color: lightslategray;
}

.title {
	text-align: center;
	margin-top: 10px;
}

ul.menu-bar {
    list-style-type: none;
    text-align: center;
    position: relative;
    width: 70%;

}

li.menu-item {
	font-size: 26;
	font-family: Georgia;
}

li.menu-item-selected {
	font-size: 26;
	font-family: Georgia;
    color: black;
}

li.menu-item-selected a {
	background-color: lightslategray;
	color: black;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: lightslategray;
    color: black;
}

li.menu-item-selected a:hover {
	background-color: lightslategray;
	color: white;
}

.pic {
	position: relative;
	width: 27%;
	align-content: center;
	float: right;
	margin-top: 3%;
}

.popup-img {
	width: 95%;
}

.me {
	position: relative;
	width: 95%;
}

img {
width: 100%;
height: 100%;
-webkit-transition: all 0.7s ease; /* Safari and Chrome */
-moz-transition: all 0.7s ease; /* Firefox */
-ms-transition: all 0.7s ease; /* IE 9 */
-o-transition: all 0.7s ease; /* Opera */
transition: all 0.7s ease;
}

a > img {
width: 100%;
height: 100%;
-webkit-transition: all 0.7s ease; /* Safari and Chrome */
-moz-transition: all 0.7s ease; /* Firefox */
-ms-transition: all 0.7s ease; /* IE 9 */
-o-transition: all 0.7s ease; /* Opera */
transition: all 0.7s ease;
}

.proj-im {
	position: relative;
	height: 65%;
	-webkit-transition: all 0.7s ease; /* Safari and Chrome */
	-moz-transition: all 0.7s ease; /* Firefox */
	-ms-transition: all 0.7s ease; /* IE 9 */
	-o-transition: all 0.7s ease; /* Opera */
	transition: all 0.7s ease;
}

a > .proj-im {
	-webkit-transition: all 0.7s ease; /* Safari and Chrome */
	-moz-transition: all 0.7s ease; /* Firefox */
	-ms-transition: all 0.7s ease; /* IE 9 */
	-o-transition: all 0.7s ease; /* Opera */
	transition: all 0.7s ease;
}

.proj-im:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
	opacity: 0.7;
}

a > .proj-im:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
	opacity: 0.7;
}

.map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:80%;
	right:0;
}

.legend {
	position: fixed;
	bottom: 5%;
	right: 60%;
	left: 22%;
	background-color: darkslategray;
	opacity: 0.7;
	text-align: center;
	z-index: 1;
	padding: 5px;
	color: white;
}

.popup {
position: absolute;
transform: rotate(180deg);
top: -20px;
left: 64px;
}

.project-tl {
	background-color: maroon;
	float: left;
	width: 48%;
	position: relative;
	height: 48%;
	margin-top: 0%;
	text-align: center;
	margin-bottom: 1%;
}

.project-tr {
	background-color: maroon;
	float: right;
	width: 48%;
	position: relative;
	height: 48%;
	margin-top: 0%;
	text-align: center;
	margin-bottom: 1%;
}

.project-bl {
	background-color: maroon;
	float: left;
	width: 48%;
	position: relative;
	height: 48%;
	margin-bottom: 0%;
	text-align: center;
	margin-top: 1%;
}

.project-br {
	background-color: maroon;
	float: right;
	width: 48%;
	position: relative;
	height: 48%;
	margin-bottom: 0%;
	text-align: center;
	margin-top: 1%;
}
